* {
    box-sizing: border-box;
}

@font-face {
    font-family: Yanone;
    src: url(/styles/Yanone/YanoneKaffeesatz-Regular.ttf);
}

li, h2, h3, h4, h5, h6, span {
    font-family: Yanone;
}

.submit-search {
    font-family: Yanone;
    color: #737373;
}

.content {
    max-width: 960px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: #535353;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #e9e9e9;
    flex: 1 0 auto;
}

h2 {
    font-size: 21px;
    line-height: 33px;
    text-transform: uppercase;
    letter-spacing: 0.42px;
    color: #535353;
}

h3 {
    font-size: 17px;
    line-height: 33px;
    text-transform: uppercase;
    letter-spacing: 0.42px;
    color: #535353;

    &:hover {
        color: #535353;
    }

    &:active {
        color: #e9e9e9;
    }
}

h4 {
    font-size: 12px;
    letter-spacing: 0.42px;
    color: #535353;
}

h5 {
    font-size: 8px;
    font-style: italic;
    letter-spacing: 0.42px;
    color: #2c2b2b;

    &:hover {
        color: #535353;
    }

    &:active {
        color: #e9e9e9;
    }
}

.border {
    border-bottom: 2px dashed #e9e9e9;
    width: 100%;
    margin-bottom: 4px;
    margin-top: 4px;
}